* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 140vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas: 
        "banner_titulo banner_titulo banner_figura banner_figura"
        "banner_titulo banner_titulo banner_figura banner_figura" 
        "banner_titulo banner_titulo banner_figura banner_figura"
        "segundo_card segundo_card terceiro_card terceiro_card"
        "segundo_card segundo_card quarto_card quarto_card"
        "segundo_card segundo_card quinto_card quinto_card"
        "rodape rodape rodape rodape";
    /* gap: 0.1rem; */
}

.banner__titulo {
    grid-area: banner_titulo;
    /* border: white solid 1px; */
    background-color: black;
    display: flex;
}

.banner__titulo > div > h1 {
    color: white;
    margin-left: 50%;
    margin-top: 5%;
    font-weight: bold;
}

.banner__figura {
    grid-area: banner_figura;
    /* border: black solid 1px; */
    background-color: black;
    display: flex;
}

.banner__figura > div > img {
    width: 100%;
    height: 100%;
    display: flex;
}

.segundoCard {
    grid-area: segundo_card;
    /* border: black solid 1px; */
    margin: 30px;
    margin-left: 80px;
    
}

.segundoCard > p {
    margin-bottom: 20px;
}

.segundoCard > img {
    width: 100%;
    height: 350px;
    margin-top: 80px;
}

.terceiroCard {
    grid-area: terceiro_card;
    /* border: black solid 1px; */
    display: flex;
    margin: 30px;
}

.terceiroCard > div > img {
    width: 90%;
    height: 100%;
    margin-right: 17rem;

}

.quartoCard {
    grid-area: quarto_card;
    /* border: black solid 1px; */
    display: flex;
    margin: 20px;
}

.quartoCard > div > img {
    width: 90%;
    height: 100%;
    margin-right: 22rem;

}

.quintoCard {
    grid-area: quinto_card;
    /* border: black solid 1px; */
    display: flex;
    margin: 20px;
}

.quintoCard > div > img {
    width: 90%;
    height: 100%;
    margin-right: 12rem;
}


footer {
    border: solid black 1px;
    grid-area: rodape;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Falta fazer o media queria para a tela pequena */

@media only screen and (max-width:430px) {

    .container {
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.8fr 0.8fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
            "banner_titulo"
            "banner_figura"
            "segundo_card"
            "terceiro_card"
            "quarto_card"
            "quinto_card"
            "rodape";
        gap: 0.1rem;
        display: flex;
        flex-direction: column;
    }


    .banner__titulo {
        grid-area: banner_titulo;
        width: 100%;
        /* border: white solid 1px; */
        background-color: black;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .banner__titulo > div > h1 {
        color: white;
        margin-left: 3%;
        margin-top: 0%;
        font-weight: bold;
        width: 100%;
    }

    .banner__figura {
        grid-area: banner_figura;
        /* border: black solid 1px; */
        background-color: black;
        /* display: flex; */
    }

    .banner__figura > div > img {
        width: 100%;
        height: 100%; 
        display: flex;
    }

    .segundoCard {
        grid-area: segundo_card;
        /* border: black solid 1px; */
        margin-left: 5%;
        margin-top: 5%;
          
    }

    .segundoCard > p {
        margin-left: 0;
        margin-top: 0;
    }

    .segundoCard > img {
        width: 100%;
        margin-top: 5%;
        margin-right: 5%;
        height: 70%;
    }

    .terceiroCard {
        grid-area: terceiro_card;
        /* border: black solid 1px; */
        margin-left: 5%;
        margin-top: 5%;
        display: flex;
    }

    .terceiroCard > div > h2 {
        font-size: 1rem;
    }

    .terceiroCard > div > img {
        width: 60%;
        margin-left: 15%;
    }

    .quartoCard {
        grid-area: quarto_card;
        /* border: black solid 1px; */
        margin-left: 5%;
        margin-top: 5%;
        display: flex;
        
    }

    .quartoCard > div > h2 {
        font-size: 1rem;
    }

    .quartoCard > div > img {
        width: 45%;
        margin-left: 15%;
       
    }

    .quintoCard {
        grid-area: quinto_card;
        /* border: black solid 1px; */
        margin-left: 5%;
        margin-top: 5%;
        display: flex;
        
    }

    .quintoCard > div > h2 {
        font-size: 1rem;
    }

    .quintoCard > div > img {
        width: 80%;
        margin-left: 15%;
        
    }


    footer {
        border: solid black 1px;
        grid-area: rodape;

    }


}


